@keyframes spinner{
    0%{
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    33%{
        transform: rotateX(180deg) rotateY(0) rotateZ(0);
    }
    66%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
    }
    100%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}

.loader{
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}