@keyframes spinner{
    0%{
        transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    33%{
        transform: rotateX(180deg) rotateY(0) rotateZ(0);
    }
    66%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(0);
    }
    100%{
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    }
}

.loader{
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes accordion{
    0%{
        max-height: 0;
        overflow: hidden;
    }
    
    100%{
        max-height: 5000px;
        overflow: hidden;
    }
}
@keyframes hide-accordion{
    0%{
        max-height: 5000px;
        overflow: hidden;
    }
    
    100%{
        max-height: 0;
        overflow: hidden;
        display: hidden;
    }
}

.reveal-vertical{
    animation-name: accordion;
    animation-duration: 1.5s;
    transition: ease-out;
    animation-fill-mode: forwards;
}

.hide-accordion{
    animation-name: hide-accordion;
    animation-duration: .2s;
    transition: ease-out;
}