@import "tailwindcss";
@import "./styles/settings.css";
@import "./styles/animations.css";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.default-shadow{
    box-shadow: 0 3px 8px 1px rgba(0,0,0,.15);
}

.blurs{
    backdrop-filter: 3px;
}

.scroll-style::-webkit-scrollbar{
    scrollbar-color: black;
    width: 5px;
    border-radius: 5px;
}